.main1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.style{
    background-color: rgb(139, 197, 201);

}
.form-group{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}